
<%= form_for([:manage, @site, @page]) do |p| %>

    <div>
      <% if @page.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@page.errors.count, "error") %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @page.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <h3>Données principale</h3>
      <p>
        <%= p.label :label %>
        <%= p.text_field :label, placeholder: 'Libellé' %>
      </p>
      <p>
        <%= p.label :path %>
        <%= p.text_field :path, placeholder: 'Route de la page' %>
      </p>
      <p>
        <%= p.label :active %>
        <%= p.check_box :active %>
      </p>
      <p>
        <%= p.label 'Page templage' %>
        <%= p.text_field :template_path %>
      </p>
    </div>
    <div>
      <h3>Données de référencement</h3>
      <p>
        <%= p.label :title %>
        <%= p.text_field :title %>
      </p>
      <p>
        <%= p.label :description %>@@
        <%= p.cktext_area :description %>
      </p>
    </div>
    <%= p.hidden_field :site_id %>

    <p>
      <%= p.submit %>
    </p>

<% end %>