
<!-- insert the template stylesheets of the site template -->
<% content_for :template_stylesheet do %>
    <%= stylesheet_link_tag @site.site_template.template_stylesheets %>
<% end %>

<!-- render the navigation bar in the location chosen by the user -->
<% content_for :navigation_bar do %>
    <%= render 'layouts/hotentic_engine/shared_partials/navigation' %>
<% end %>

<%= render @site.site_template.full_template_path do %>
    <%= render @page.full_page_template_path %>
    <%= yield :script_page %>
<% end %>

<!-- render the edition popup -->
<section id="edit_container"></section>
