
<section class="popup">
  <div class="popup_container">
    <h2>Edition du container sélectionné :</h2>

    <%= form_for([:edit, @image_container]) do |f| %>
        <div>
          <div>
            <%= f.fields_for :contained_images do |ci| %>
                <%= ci.hidden_field :image_container_id, value: @image_container.id %>

                <%= ci.fields_for :image do |i| %>
                  <%= i.label :image %>
                  <%= i.file_field :image, { id: 'image_uploader'} %>
                <% end %>
            <% end %>
          </div>
          <%= hidden_field_tag :current_page, @current_page_id %>
          <%= f.submit %>
        </div>
    <% end %>

    <button id="cancel_editor">Annuler</button>
  </div>
</section>

