<section class="popup">
  <div class="popup_container">
    <h2>Edition du container sélectionné :</h2>

    <%= form_for([:edit, @editable]) do |f| %>
      <div>
        <div>
          <%= f.label :content %>
          <%= f.text_area :content, { id: 'text_container' } %>
        </div>
        <%= hidden_field_tag :current_page, @current_page_id %>
        <%= f.submit %>
      </div>
    <% end %>

    <button id="cancel_editor">Annuler</button>
  </div>
</section>