

<section>
  <h2><%= @site.name %></h2>

  <div>
    <h3>Pages :</h3>
    <table>
      <tbody>
      <% @site.pages.each do |page| %>
          <tr>
            <td><%= page.label %></td>
            <td><%= page.path %></td>
            <td><%= page.active %></td>
            <td><%= link_to 'Modifier', edit_manage_page_path(page) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to 'Ajouter', new_manage_site_page_path(@site) %>
  </div>

  <%= link_to 'Back', manage_sites_path %>
</section>